.datalist:focus {
  outline: none;
}
.datalist {
  border: none;
  text-align: right;
}
.customeradd ion-item ion-icon {
  height: -webkit-fill-available;
}
.kota {
  border-bottom: 1px solid #dcdcdc;
}
