.login h1 {
    font-weight: 600;
    margin: 5px 0;
    font-size: 29pt;
}

.login {
    align-items: center;
    align-content: center;
    margin-top: 10vh;
    padding: 10vw;
    display: grid;
}

img {
    width: 60px;
}
